{% extends '::base.html.twig' %}

{% block titre %}
    {% if  app.environment == 'dev' %}
       Programmation SQE en test
     {% else %}
        Programmation SQE 
    {% endif %}
{% endblock titre %}

 {% block message_admin %}
  {#  <div id="idAttente">
        <i class="fa fa-spinner fa-spin"></i>
        <div class="alert alert-warning">
                 <p>
                   Merci de patientez SVP
                 </p>
        </div>
    </div>#}
    {%if (app.session.get('messageAdmin') | length) > 0 and is_granted('ROLE_SQE') and not is_granted('ROLE_ADMINSQE') %}
<h5 class="alert alert-danger pull-right">
           {{ app.session.get('messageAdmin') }}
</h5>
    {%endif%}
{% endblock message_admin %}

 {% block menu %}
     
     {% if is_granted('ROLE_ADMINSQE') %}
         <!-- Menu admin sqe -->
         {% include 'AeagSqeBundle:Default:menu_admin.html.twig'%}
         
    {%elseif is_granted('ROLE_PROGSQE') %}
        <!-- Menu prog sqe -->
        {% include 'AeagSqeBundle:Default:menu_progsqe.html.twig'%}
        
    {%elseif is_granted('ROLE_PRESTASQE') %}
        {% if  not app.session.get('evolution')  %}
                <!-- Menu presta sqe -->
                {% include 'AeagSqeBundle:Default:menu_prestasqe.html.twig'%}
        {% else %}
                <!-- Menu sqe -->
                {% include 'AeagSqeBundle:Default:menu_sqe.html.twig'%}
        {% endif %}
    {% else %}
        <!-- Menu sqe -->
        {% include 'AeagSqeBundle:Default:menu_sqe.html.twig'%}
   {%endif%}

{% endblock menu %}

 