{% if nbRisques > 0 %} 

    <dt>{{risqueGroupe.libelle}}</dt>
    <dd>
    <table class="tablehead" cellspacing="0" width="100%" align="center">
        <thead>
             <tr>
                <th  width="70%">Libelle</th>
                <th  width="10%" nowrap>Valeur provioire</th>
                <th  width="10%" nowrap>Proposition STL</th>
                <th  width="10%" nowrap>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=4>

            {% for risque in risques %}

                    <div id="divRisque{{ risque.cdRisque }}" >
                        {% render "AeagEdlBundle:Risque:risqueListProposed" with {'euCd':risque.euCd, 'cdRisque':risque.cdRisque}, {'ignore_errors':false} %}
                        </div>     
                
            {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </dd>
{% endif %} 

