{% extends '::base.html.twig' %}

{% block titre %}
    Demande de remboursement de frais de déplacement
{% endblock titre %}

{% block message_admin %}
    {%if (app.session.get('messageAdmin') | length) > 0 and is_granted('ROLE_FRD') and not is_granted('ROLE_ADMINFRD') %}
        <h5 class="alert alert-danger pull-right">
            {{ app.session.get('messageAdmin') }}
        </h5>
    {%endif%}
{% endblock message_admin %}

{% block menu %}


    {% if is_granted('ROLE_ADMINFRD') %}
        <!-- Menu admin frd -->
        {% include 'AeagFrdBundle:Default:menu_admin.html.twig'%}
    {%else%}
        <!-- Menu membre -->
        {% include 'AeagFrdBundle:Default:menu_frd.html.twig'%}
    {% endif %}
{% endblock menu %}



