{% extends "AeagDecBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('aeag_homepage') }}">Accueil</a> 
        <i class="fa fa-angle-right"></i>
    </li>
{% endblock breadcrumb %}


{%block panel_heading %}
{%endblock panel_heading %}


{%block content %}

    <div class="row">
        <div class="col-md-12 page-500">
            <div class="alert alert-danger">
                <h3> <i class="fa fa-warning"></i> Page interdite</h3>
                <p>Vous n'avez pas les droits pour accéder à cette page</p>
            </div>
        </div>
    </div>

{%endblock content %}
