/* 
    Document   : etatdeslieux
    Created on : 29 févr. 2012, 16:25:24
    Author     : lavabre
    Description:
        Purpose of the stylesheet follows.
*/


#tabEtats {
        width:98%;
	padding-left:10px;
        background: #FEFEFE; 
        text-align:left;
        left:10px;
   	}
 
        
#tabEtats h3 {
        font-size: 1.2em;
        margin-top: 0px;
        font-weight: normal;
        text-align:center;
       
}   

#EtatsInit {
        width:98%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#EtatsInit table {
    display: inline;
    margin: 2px 4px 6px 100px;
    text-align: center;
   
}


#EtatsInit th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
     background: #F0F8FF;
}

#EtatsParametre {
        width:50%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#EtatsParametre table {
    display: inline;
    margin: 2px 4px 6px 150px;
    text-align: left;
   
}


#EtatsParametre th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
}



#EtatsProposed1 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#EtatsProposed1 table {
    display: inline;
    text-align: right;
}



#EtatsProposed1 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}




#EtatsProposed2 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#EtatsProposed2 table {
    display: inline;
    text-align: right;
}



#EtatsProposed2 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}


.dce_etat_ { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}
.dce_etat_U { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}
.dce_etat_0 { /* non */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}
.dce_etat_1 { /* tres bon etat*/
	 background-color: #378BE9;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}
.dce_etat_2 { /* bon */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}
.dce_etat_3 { /*moyen */
	 background-color: #FEF740;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_etat_4 { /* mediocre */
	 background-color: #FEA740;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}

.dce_etat_5 { /* mauvais */
	 background-color: #FE4040;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}


.newEtat {
	font-size: 12px;
	text-align: right;
	margin-bottom: 16px;
}


#tabPressions {
        width:98%;
	padding-left:10px;
        background: #FEFEFE; 
        text-align:left;
        left:10px;
  	}
 
        
#tabPressions h3 {
        font-size: 1.2em;
        margin-top: 0px;
        font-weight: normal;
        text-align:center;
       
}  


#PressionsInit {
        width:98%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#PressionsInit table {
    display: inline;
    margin: 2px 4px 6px 100px;
    text-align: center;
    
}


#PressionsInit th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
     background: #F0F8FF;
}

#PressionsParametre {
        width:50%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#PressionsParametre table {
    display: inline;
    margin: 2px 4px 6px 150px;
    text-align: left;
   
}


#PressionsParametre th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
}


#PressionsProposed1 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#PressionsProposed1 table {
    display: inline;
    text-align: right;
}



#PressionsProposed1 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}




#PressionsProposed2 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#PressionsProposed2 table {
    display: inline;
    text-align: right;
}



#PressionsProposed2 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}



.dce_pression_ { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_pression_U { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}

.dce_pression_1 { /* faible */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_pression_2 { /* moyenne */
	 background-color: #FEF740;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_pression_3 { /* forte */
	 background-color: #FE4040;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}


.newPression {
	font-size: 12px;
	text-align: right;
	margin-bottom: 16px;
}




#tabImpacts {
        width:98%;
	padding-left:10px;
        background: #FEFEFE; 
        text-align:left;
        left:10px; 
  	}
 
        
#tabImpacts h3 {
        font-size: 1.2em;
        margin-top: 0px;
        font-weight: normal;
        text-align:center;
       
}

#ImpactsInit {
        width:98%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#ImpactsInit table {
    display: inline;
    margin: 2px 4px 6px 100px;
    text-align: center;
   
}


#ImpactsInit th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
     background: #F0F8FF;
}

#ImpactsParametre {
        width:50%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#ImpactsParametre table {
    display: inline;
    margin: 2px 4px 6px 150px;
    text-align: left;
   
}


#ImpactsParametre th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
}



#ImpactsProposed1 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#ImpactsProposed1 table {
    display: inline;
    text-align: right;
}



#ImpactsProposed1 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}




#ImpactsProposed2 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#ImpactsProposed2 table {
    display: inline;
    text-align: right;
}



#ImpactsProposed2 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}


.dce_impact_ { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_impact_U { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_impact_0 { /* non */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_impact_1 { /* bon */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}

.dce_impact_2 { /* mauvais */
	 background-color: #FF3300;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}


.newImpact {
	font-size: 12px;
	text-align: right;
	margin-bottom: 16px;
}


#tabRisques {
        width:98%;
	padding-left:10px;
        background: #FEFEFE; 
        text-align:left;
        left:10px;
   	}
 
        
#tabRisques h3 {
        font-size: 1.2em;
        margin-top: 0px;
        font-weight: normal;
        text-align:center;
       
}   

#RisquesInit {
        width:98%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#RisquesInit table {
    display: inline;
    margin: 2px 4px 6px 100px;
    text-align: center;
   
}


#RisquesInit th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
     background: #F0F8FF;
}

#RisquesParametre {
        width:50%;
	padding-left:10px;
        display:inline;
        text-align: left;
        left:10px;
        
       }
 
        
#RisquesParametre table {
    display: inline;
    margin: 2px 4px 6px 150px;
    text-align: left;
   
}


#RisquesParametre th {
     font-size: 0.8em;
     margin-top: 0px;
     font-weight: bold;
     text-align: left;
}



#RisquesProposed1 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#RisquesProposed1 table {
    display: inline;
    text-align: right;
}



#RisquesProposed1 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}




#RisquesProposed2 {
        width:98%;
	padding-left:10px;
        background: #FFFFFF; 
        display:block;
   	}
 
        
#RisquesProposed2 table {
    display: inline;
    text-align: right;
}



#RisquesProposed2 td {
    font-size: 0.6em;
     margin-top: 0px;
     font-weight: normal;
}


.dce_risque_ { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_risque_U { /* inconnue */
	 background-color: #BBBBBB;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}

.dce_risque_0 { /* non */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}

.dce_risque_1 { /* aucun */
	 background-color: #55CC33;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_risque_2 { /* faible */
	 background-color: #FFFF00;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}
.dce_risque_3 { /* moyen */
	 background-color: #FFCC66;
	 padding: 2px;
	 color: #000000;
	 text-align: center;
}

.dce_risque_4 { /* important */
	 background-color: #FF9933;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}

.dce_risque_5 { /* trè important */
	 background-color: #FF3300;
	 padding: 2px;
	 color: #FFFFFF;
	 text-align: center;
}




.newRisque {
	font-size: 12px;
	text-align: right;
	margin-bottom: 16px;
}


.loading {
    background:url(../images/loading.gif) no-repeat center;
    width: 36px;
    height: 36px;
}

.error
{
    color: red;
}

#login label, #contact_form label
{
    display: block;
    float: left;
    width: 90px;
}

ul#menu
{
    float: right;
    margin-bottom: 20px;
    padding-left: 0;
}

#menu li
{
    padding-left: 0;
    margin-right: 10px;
    display: inline;
}


.unselected {
	border: 1px solid;
	background-color: #DDDDDD;
	color: #999999;
}

.editIcon {
	background: url("../images/sprites.png") no-repeat scroll -144px -27px transparent;
	width: 16px;
	height: 16px;
	float: right;
}

.editIcon:hover {
	background: url("../images/sprites.png") no-repeat scroll -160px -27px transparent;
}

.inEdit {
	background: url("../images/sprites.png") no-repeat scroll -160px -27px transparent;
}

.deleteIcon {
	background: url("../images/sprites.png") no-repeat scroll -176px -27px transparent;
	width: 16px;
	height: 16px;
	float: right;
}

.deleteIcon:hover {
	background: url("../images/sprites.png") no-repeat scroll -192px -27px transparent;
}




.etc {
	background: url("../images/etc.png") repeat-x transparent;
}


.resultat {
    font : Verdana, Arial, Helvetica, sans-serif;
    font-size : medium;
    position: relative;
    padding: 2px;
    margin-top: 2px;
    width: 100%;
    float: none;
    margin-left: 2px;
    margin-bottom: 2px; 
}

.resultat1 {
    font : Verdana, Arial, Helvetica, sans-serif;
    font-size :1em;
    position: relative;
    padding: 2px;
    margin-top: 2px;
    width: 100%;
    float: none;
    margin-left: 2px;
    margin-bottom: 2px; 
    background-color :#EEE;
        
}

.resultat2 {
    font : Verdana, Arial, Helvetica, sans-serif;
    font-size : 1em;
    position: relative;
    padding: 2px;
    margin-top: 2px;
    width: 100%;
    float: none;
    margin-left: 2px;
    margin-bottom: 2px; 
    background-color :#DDDDDD;
}

