{% extends   app.session.get('appli') == 'edl' ? "AeagEdlBundle::layout.html.twig" : "::base.html.twig" %}      

{% block panel_heading %}{% endblock panel_heading %}
{% block inbox_notificaton %}{% endblock inbox_notificaton %}

{% block content %}
  
      {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

       {% block fos_user_content %}
       {% endblock fos_user_content %}

 
 {% endblock content %}

