{% extends "AeagUserBundle::layout.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path('fos_user_profile_show') }}">Compte</a></li> 
<li class="active">Réinitialisation mot de passe</li> 
{% endblock breadcrumb %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
