         {%if app.session.get('menu') == 'accueil'%}
             <li  class="active">
         {% else %}
            <li>
         {% endif %}
             <a href="{{ path('aeag_edl') }}">
                 <span class="selected">
                     <i class="fa fa-home"></i>&nbsp; Accueil
                 </span>
             </a>
         </li>
            
        <li>
            <a href="{{ asset('bundles/aeagedl/doc/diagme_manuel_utilisateur.pdf') }}" target="_blank">Manuel utilisateur</a>
        </li>
        
         <li>
            <a href="{{ asset('bundles/aeagedl/doc/diagme_note.pdf') }}" target="_blank">Notice</a>
        </li>
   