         {%if app.session.get('menu') == 'index'%}
             <li  class="active">
         {% else %}
            <li>
         {% endif %}
             <a href="{{ path('Aeag_edl') }}">
                 <span class="selected">
                     <i class="fa fa-home"></i>&nbsp; Accueil
                 </span>
             </a>
         </li>
         
          {%if app.session.get('menu') == 'utilisateur'%}
             <li  class="active">
         {% else %}
            <li>
         {% endif %}
             <a href="{{ path('AeagUserBundle_User', { 'role': 'ROLE_EDL' }) }}">
                 <span class="selected">
                     <i class="fa fa-user-plus"></i>&nbsp; Utilisateurs
                 </span>
             </a>
         </li>
            
         <li>
            <a href="{{ asset('bundles/aeagedl/doc/manuel-utilisateur.pdf') }}" target="_blank">Aide</a>
        </li>
   