
{% if nbEtats > 0 %} 

<dt>{{etatGroupe.libelle}} </dt>   

<dd>
    <table class="table table-bordered table-condensed table-advance" id="idTable">
        <thead>
            <tr>
                <th  width="70%">libelle</th>
                <th  width="10%" nowrap>Valeur provioire</th>
                <th  width="10%" nowrap>Proposition STL</th>
                <th  width="10%" nowrap>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=4>


                        {% for etat in etats %}

                   <div id="divEtat{{ etat.etatType.cdEtat }}" >
                                    {{ render(controller('AeagEdlBundle:Etat:etatListProposed', {'euCd':etat.masseEau.euCd, 'cdEtat':etat.etatType.cdEtat})) }}
                        </div>     
               
                        {% endfor %}



                    </td>
                </tr>
            </tbody>
        </table>
    </dd>


{% endif %} 
