         {% if suiviPrel.validation == 'F' %}
            <span class="label label-success">Favorable</span>
        {% elseif suiviPrel.validation == 'D' %}
            <span class="label label-danger">Défavorable</span>
        {% endif %}
  

